body{background-color: #f0f0f0;

}
table{
    margin-left: auto;
    margin-right: auto;
    
}

a{
    color: #747474;
}

#gyumolcs{
    margin-bottom: 100%;
    margin-top: auto;
}
.szinezett{
    background-color: #9bce11;
}
h2{
    color: #9bce11;
}