body{
    background-color: orange;
    margin: 0%;
    
    
}
h1{
    text-align: center;
    color:#007eb4 ;
}
h2{
    text-align: center;
    color:#007eb4 ;
}
h3{
    text-align: justify;
    color:#007eb4 ;
}
div{ 

margin: 5%;}

p{margin: 1%;
text-align: justify;}

.felsoszalag{
    margin: 0%;
    background-color:#FF007F ;
}
